@use "variables";
@use "mixins";

body {
  background-color: variables.$color-slate;
  color: variables.$color-cloud;
  font-family: variables.$font-family;
  font-size: variables.$font-size-body;
  line-height: variables.$line-height-loose;
}

a {
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}
