<footer class="footer">
  <p>
    Hast Du eine Frage? Schreib mir doch eine <a href="mailto:hi@robinloeffel.ch">E-Mail</a>, schau Dir mein Profil auf <a href="https://github.com/robinloeffel">GitHub</a> an oder vernetz Dich mit mir auf <a href="https://linkedin.com/in/robinloeffel">LinkedIn</a>!
  </p>
</footer>
