@use "@fontsource-utils/scss" as fontsource;
@use "@fontsource-variable/inter/scss" as inter;
@include fontsource.faces(
  $metadata: inter.$metadata,
  $subsets: "latin"
);

:root {
  /* colors */
  --color-black: #111;
  --color-white: #eee;
  --color-coral: #fa8072;
  --color-orange: #daa520;
  --color-malibu: #87ceeb;

  /* typo */
  --font-size-h1: 4rem;
  --font-size-h2: 1.5rem;
  --font-size-base: 1.25rem;
  --font-weight-extra-bold: 800;
  --line-height-base: 1.6;
  --line-height-tight: 1.1;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline-offset: 8px;
}

body {
  position: relative;
  display: grid;
  gap: 2rem;
  place-content: center;
  place-items: center;
  height: max(480px, 100dvh);
  padding: 2rem;
  font-family: "Inter Variable", system-ui;
  line-height: var(--line-height-base);
  color: var(--color-white);
  text-align: center;
  text-wrap: balance;
  background-color: var(--color-black);
  text-rendering: optimizelegibility;

  &::after {
    position: absolute;
    z-index: -1;
    width: 250px;
    height: 250px;
    contain: strict;
    content: "";
    background-image:
      radial-gradient(var(--color-coral) 50%, transparent 50%),
      radial-gradient(var(--color-orange) 50%, transparent 50%),
      radial-gradient(var(--color-malibu) 50%, transparent 50%);
    background-repeat: no-repeat;
    background-position: 0 0, 50% 50%, 100% 100%;
    background-size: 75% 75%;
    opacity: 0.5;
    filter: blur(50px);
    animation: body-rotate 30s linear infinite forwards;
    will-change: rotate, filter;
  }
}

a {
  color: inherit;
}

h1 {
  contain: content;
  font-size: var(--font-size-h1);
  font-weight: var(--font-weight-extra-bold);
  line-height: var(--line-height-tight);
  color: transparent;
  background-image:
    linear-gradient(
      to right,
      var(--color-coral),
      var(--color-orange),
      var(--color-malibu)
    );
  background-clip: text;
  animation: heading-rotate 10s linear infinite alternate;
  will-change: filter;
}

main {
  font-size: var(--font-size-h2);
}

footer {
  font-size: var(--font-size-base);
}

@keyframes heading-rotate {
  to {
    filter: hue-rotate(360deg);
  }
}

@keyframes body-rotate {
  to {
    filter: blur(50px) hue-rotate(360deg);
    rotate: 360deg;
  }
}
