@use "@fontsource-variable/inter/scss" as inter;
@use "@fontsource-utils/scss" as fontsource;
@include fontsource.faces(
  $metadata: inter.$metadata,
  $subsets: "latin"
);

:root {
  /* colors */
  --color-black: #111;
  --color-white: #eee;
  --color-coral: #fa8072;
  --color-orange: #daa520;
  --color-malibu: #87ceeb;

  /* typo */
  --font-size-h1: 4rem;
  --font-size-h2: 1.5rem;
  --font-size-base: 1.25rem;
  --font-weight-extra-bold: 800;
  --line-height-base: 1.6;
  --line-height-tight: 1.2;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline-offset: 8px;
}

body {
  position: relative;
  display: grid;
  gap: 2rem;
  place-content: center;
  height: max(480px, 100dvh);
  padding: 2rem;
  overflow: clip;
  font-family: "Inter Variable", system-ui;
  line-height: var(--line-height-base);
  color: var(--color-white);
  text-align: center;
  text-wrap: balance;
  background-color: var(--color-black);
  text-rendering: optimizelegibility;

  &::after {
    position: absolute;
    z-index: -1;
    place-self: center;
    width: 250px;
    height: 250px;
    pointer-events: none;
    content: "";
    background-image:
      radial-gradient(circle, var(--color-coral) 100px, transparent 100px),
      radial-gradient(circle, var(--color-orange) 100px, transparent 100px),
      radial-gradient(circle, var(--color-malibu) 100px, transparent 100px);
    background-repeat: no-repeat;
    background-position:
      50% 50%,
      calc(50% - 50px) calc(50% - 50px),
      calc(50% + 50px) calc(50% + 50px);
    background-size: 200px 200px;
    opacity: 0.4;
    animation: background-rotate 30s linear infinite forwards;
    will-change: filter, rotate;
  }
}

a {
  color: inherit;
}

h1 {
  font-size: var(--font-size-h1);
  font-weight: var(--font-weight-extra-bold);
  line-height: var(--line-height-tight);
  color: transparent;
  background-image:
    linear-gradient(
      to right,
      var(--color-coral),
      var(--color-orange),
      var(--color-malibu)
    );
  background-clip: text;
  animation: hue-rotate 10s linear infinite alternate;
  will-change: filter;
}

main {
  font-size: var(--font-size-h2);
}

footer {
  font-size: var(--font-size-base);
}

@keyframes hue-rotate {
  to {
    filter: hue-rotate(1turn);
  }
}

@keyframes background-rotate {
  from {
    filter: blur(50px);
  }

  to {
    filter: hue-rotate(1turn) blur(50px);
    rotate: 1turn;
  }
}
