.footer {
  position: relative;
  display: grid;
  align-items: center;
  justify-items: center;
  margin-top: 75px;
  padding: 5vh;
  background-color: var(--white);
  border: 5vh solid white;
}

.footer-text {
  max-width: 600px;
  font-size: 80%;
}
