.footer {
  position: relative;
  display: grid;
  align-items: center;
  justify-items: center;
  padding: 7.5vh;
  background-color: var(--off-white);
}

.footer-text {
  max-width: 600px;
  font-size: 80%;
}
