.header {
  display: flex;
  align-items: stretch;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  background-color: var(--off-white);
}

.header-half {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-half:first-child {
  flex-basis: 60%;
}

.header-half:last-child {
  flex-basis: 40%;
}

.header-image {
  position: absolute;
  z-index: 1;
  width: calc(100% - 15vh);
  height: calc(100% - 15vh);
  object-fit: cover;
  border: 3px solid var(--off-black);
}

.header-content {
  position: relative;
  top: 10%;
  left: -20%;
  z-index: 1;
}

.header-content > * {
  padding: 8px 16px;
  background-color: white;
  border: 3px solid var(--off-black);
}

.header-content > *:not(:last-child) {
  margin-bottom: 0.5em;
}

@media (max-width: 900px) {
  .header-image {
    display: none;
  }

  .header-half:first-child {
    flex-basis: 0;
  }

  .header-half:last-child {
    flex-basis: 100%;
  }

  .header-content {
    top: unset;
    left: unset;
    width: 80%;
    max-width: 600px;
  }
}
