.project + .project {
  margin-top: 7.5vh;
}

.project-image {
  max-width: 125%;
  margin-bottom: 20px;
  margin-left: -12.5%;
  transform: translateY(5%) scale(0.95);
  opacity: 0;
  transition:
    transform 0.5s ease-in-out,
    opacity 0.5s ease-in-out;
}

.project-image-visible {
  transform: none;
  opacity: 1;
}

.project-title {
  margin-bottom: 5px;
}

.project-details {
  display: block;
  margin-bottom: 10px;
}

.project-description {
  margin-bottom: 10px;
}
