@use '../variables';

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: variables.$font-family;
  font-size: variables.$font-size;
  line-height: 1.6;
  background-color: variables.$color-black;
  color: variables.$color-white;
}

h1,
h2,
h3 {
  line-height: 1.3;
}

a {
  color: inherit;
}

main {
  display: flex;
  flex-wrap: wrap;
}
