@use '../variables';

.project {
  position: relative;
  flex: 0 0 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: variables.$color-black-fifth-opaque;
    transition: opacity variables.$transition-length variables.$transition-easing;
  }

  &::after {
    content: '';
    padding-bottom: 80%;
  }

  &-text {
    position: absolute;
    transition: opacity variables.$transition-length variables.$transition-easing;
  }

  &:hover {
    &::before,
    .project-text {
      opacity: 0;
      pointer-events: none;
    }
  }

  @media (max-width: 960px) {
    flex-basis: 100%;
  }
}
