.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
  border: 2.5vw solid transparent;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color-black-fifth-opaque;
  }

  &-title {
    position: absolute;
    width: 80%;
    z-index: 1;
    font-size: 350%;
    max-width: $max-width;
  }

  @media (max-width: 960px) {
    &-title {
      font-size: 250%;
    }
  }
}
