@use "../variables";

.human-question {
  position: fixed;
  top: 50%;
  left: 50%;
  width: min(80%, variables.$content-max-width-narrow);
  padding: variables.$space-24 variables.$space-32;
  translate: -50% -50%;

  &::backdrop {
    backdrop-filter: blur(variables.$space-24);
  }

  select {
    font-size: smaller;
  }
}
