.paragraph {
  width: 80%;
  max-width: $max-width;
  margin: 0.5em auto;

  &:first-of-type {
    margin-top: $space-desktop;
  }

  &:last-of-type {
    margin-bottom: $space-desktop;
  }

  @media (max-width: 960px) {
    &:first-of-type {
      margin-top: $space-mobile;
    }

    &:last-of-type {
      margin-bottom: $space-mobile;
    }
  }
}
