/* vars */

:root {
  --font-family: inter var, system-ui;
  --font-size-base: 24px;
  --body-color: #fff;
  --text-color: #444;
  --link-color: #667;
  --project-text-color: var(--body-color);
  --project-gradient-color: var(--text-color);
  --space-big: 100px;
  --space-medium: 50px;
  --space-small: 25px;
  --space-tiny: 12.5px;
  --space-almost-medium: calc(var(--space-medium) + var(--space-tiny));
  --body-max-width: 1440px;
}

/* reset */

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* theme */

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #fff;
    --link-color: #aab;
    --body-color: #223;
    --project-text-color: var(--text-color);
    --project-gradient-color: var(--body-color);
  }
}

/* base */

body {
  width: 90%;
  max-width: var(--body-max-width);
  margin: auto;
  color: var(--text-color);
  font-size: var(--font-size-base);
  font-family: var(--font-family);
  line-height: 1.6;
  text-transform: lowercase;
  background-color: var(--body-color);
}

h1,
h2 {
  line-height: 1.1;
}

a {
  color: var(--link-color);
}

/* style */

header {
  margin-block: var(--space-big);
}

header,
footer {
  text-align: center;
}

.header-title {
  margin-bottom: var(--space-medium);
}

.project-diashow {
  position: relative;
  display: flex;
  overflow: hidden;
  border-radius: var(--space-tiny);
  will-change: scroll-position;
  scroll-behavior: smooth;
}

.project {
  position: relative;
  display: block;
  flex: 0 0 100%;
}

.project-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 2 / 1;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.project-image-visible {
  opacity: unset;
}

.project-description {
  position: absolute;
  inset: auto 0 0 0;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: var(--space-big) var(--space-almost-medium) var(--space-medium);
  color: var(--project-text-color);
  line-height: 1;
  background: linear-gradient(to top, var(--project-gradient-color), transparent);
}

.project-link {
  color: inherit;
}

.project-scroller {
  color: inherit;
  font: inherit;
  text-transform: inherit;
  text-decoration: underline;
  background: unset;
  border: 0;
  cursor: pointer;
}

footer {
  margin-block: var(--space-big);
}

@media (orientation: portrait) {
  .project-image {
    aspect-ratio: 3 / 4;
  }

  .project-description {
    flex-direction: column;
    padding: var(--space-small);
  }

  .project-description > * {
    margin: 0;
  }

  .project-title {
    margin-bottom: var(--space-small);
  }

  .project-role,
  .project-timeframe {
    margin-bottom: var(--space-tiny);
  }
}
