:root {
  /* font sizes */
  --font-size-xs: 24px;
  --font-size-sm: 32px;
  --font-size-md: 40px;
  --font-size-lg: 48px;
  --font-size-xl: 64px;

  /* spaces */
  --space-sm: 20px;
  --space-md: 40px;
  --space-lg: 80px;
  --space-xl: 160px;

  /* content widths */
  --content-max-width: 1280px;
  --content-max-width-narrow: calc(var(--content-max-width) / 2);

  /* colors */
  --color-anthracite: rgb(50 50 50);
  --color-stone: rgb(100 100 100);

  /* misc */
  --font-family: inter, system-ui;
  --line-height: 1.4;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--color-anthracite);
  font-size: var(--font-size-xs);
  font-family: var(--font-family);
  line-height: var(--line-height);
}

a {
  color: inherit;
}

section {
  margin-block: var(--space-xl);
}

ul {
  list-style: none;
}

p + p {
  margin-top: var(--space-sm);
}

.hero {
  display: grid;
  gap: var(--space-md);
  height: 100vh;
  margin: 0;
  background-image: radial-gradient(rgb(0 0 0 / 20%) 1px, transparent 0);
  background-repeat: round;
  background-position: 0 0;
  background-size: 25px 25px;
  place-items: center;
  place-content: center;
}

.hero > * {
  width: min(80%, var(--content-max-width));
}

.hero-title {
  font-size: var(--font-size-md);
}

.hero-text {
  color: transparent;
  font-weight: 700;
  font-size: var(--font-size-xl);
  background: linear-gradient(to bottom right, goldenrod, salmon);
  background-clip: text;
  animation: hue-rotate 10s linear infinite alternate;
}

.hero-cta {
  margin-top: 0;
  font-size: var(--font-size-xs);
}

.project {
  display: grid;
  grid-template-columns: auto min(80%, var(--content-max-width)) auto;
  gap: var(--space-md);
}

.project + .project {
  margin-top: var(--space-xl);
}

.project-summary {
  grid-column: 2 / span 1;
  color: var(--color-stone);
  font-size: var(--font-size-xs);
}

.project-title {
  grid-column: 2 / span 1;
  justify-self: start;
  font-weight: 700;
  font-size: var(--font-size-md);
}

.project-image-container {
  position: relative;
  grid-column: 2 / span 2;
  height: 75vh;
}

.project-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translateY(5%) scale(0.95);
  transform-origin: bottom;
  opacity: 0;
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.project-image-visible {
  transform: translateY(0) scale(1);
  opacity: 1;
}

.project-role {
  grid-column: 2 / span 1;
  font-size: var(--font-size-lg);
}

.project:nth-child(odd) .project-title {
  justify-self: end;
}

.project:nth-child(odd) .project-image-container {
  grid-column: 1 / span 2;
}

.about {
  max-width: var(--content-max-width-narrow);
  margin-inline: auto;
}

@keyframes hue-rotate {
  from {
    filter: hue-rotate(0deg);
  }

  to {
    filter: hue-rotate(360deg);
  }
}
