html {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 120%;
    line-height: 1.6;
    color: $colorTextBase;
}

h1,
h2,
h3 {
    margin: 0;
    line-height: 1.1;
    letter-spacing: .1px;
}
