.cool {
    &-text {
        position: absolute;
        z-index: 1;
        top: 20px;
        left: 20px;
        line-height: 1;
        margin: 0;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: $colorWhite;
        pointer-events: none;
        font-size: 80%;
        opacity: 0;
        transition: opacity .5s ease-in-out;

        span {
            font-weight: 700;
        }
    }

    &-emoji {
        width: 100%;
    }

    &-icon {
        position: absolute;
        width: 20px;
        height: 20px;
        top: 20px;
        right: 20px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        cursor: none;
        transition: transform .5s ease-in-out;
        z-index: 1;

        &:hover {
            transform: rotate(720deg);

            & ~ .header {
                &::after,
                .header-content {
                    opacity: 0;
                }
            }

            & + .cool-text {
                opacity: .5;
            }
        }
    }
}
