@font-face {
    font-family: 'Inter';
    font-weight: 400;
    font-display: swap;
    font-style: normal;
    src: local('Inter Regular'), url('../font/inter/400.woff2') format('woff2'), url("../font/inter/400.woff") format('woff');
}

@font-face {
    font-family: 'Inter';
    font-weight: 700;
    font-display: swap;
    font-style: normal;
    src: local('Inter Bold'), url('../font/inter/700.woff2') format('woff2'), url("../font/inter/700.woff") format('woff');
}
