.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: auto;
    font-size: 80%;
    padding: 0 0 75px;
    text-align: center;
}
