.header {
  display: flex;
  justify-content: center;
  position: relative;
  height: 100vh;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color-black-quarter-opaque;
  }

  &-title {
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: $space-desktop;
    z-index: 1;
    font-size: 350%;
    max-width: $max-width;
  }

  @media (max-width: 960px) {
    &-title {
      font-size: 300%;
      padding: $space-mobile;
    }
  }
}
