.header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 75vh;
    min-height: 400px;
    color: $colorWhite;
    background-color: $colorMineShaft;

    &-content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        z-index: 1;
        text-shadow: 0 2px 4px transparentize($colorMineShaft, .75);
    }

    &-title {
        font-size: 300%;
        margin-bottom: 32px;
    }

    &-text {
        font-size: 200%;
        margin: 0 0 16px 0;
    }

    &-small {
        margin: 0;
    }

    &-video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        opacity: 0;
        transition: opacity .5s ease-in-out;

        &.visible {
            opacity: 1;
        }
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg, $colorJava 0%, $colorStratos 100%);
        opacity: .9;
    }

    &-content,
    &::after {
        transition: opacity .5s ease-in-out;
    }
}
