.project {
  position: relative;
  flex: 0 0 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color-black-quarter-opaque;
    transition: opacity $transition-length $transition-easing;
  }

  &::after {
    content: '';
    padding: 40%;
  }

  &-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    transition: transform $transition-length $transition-easing;
  }

  &-text {
    position: absolute;
    transition: opacity $transition-length $transition-easing;
  }

  &:hover {
    &::before,
    .project-text {
      opacity: 0;
    }

    .project-image {
      transform: scale(1.05);
    }
  }

  @media (max-width: 960px) {
    flex: 0 0 100%;
  }
}
