.project {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75%;
    max-width: 960px;
    color: $colorWhite;

    &-title {
        font-size: 200%;
        position: absolute;
        transition: opacity .5s ease-in-out;
    }

    &-link {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color: inherit;
        text-decoration: none;
        border-radius: 15px;
        overflow: hidden;
        transition: transform .5s ease-in-out;
        z-index: 1;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $colorMineShaft;
            opacity: .9;
            z-index: -1;
            transition: opacity .5s ease-in-out;
        }

        &.portfolio::after {
            background: linear-gradient(90deg, $colorCeriseRed 0%, $colorAnzac 100%);
        }

        &.swissplant::after {
            background: linear-gradient(90deg, $colorMySin 0%, $colorMeteorite 100%);
        }

        &.agricontrol::after {
            background: linear-gradient(90deg, $colorRadicalRed 0%, $colorDodgerBlue 100%);
        }

        &:hover {
            transform: scale(.95);

            &::after,
            .project-title {
                opacity: 0;
            }
        }
    }

    &-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        z-index: -1;
    }

    &::after {
        content: '';
        display: block;
        padding-bottom: 65%;
    }

    &:not(:last-child) {
        margin-bottom: 100px;
    }
}
