$colorWhite: #fff;
$colorMineShaft: #333;
$colorJava: #1cb5e0;
$colorStratos: #000851;
$colorCeriseRed: #d53369;
$colorAnzac: #daae51;
$colorMySin: #fdbb2d;
$colorMeteorite: #3a1c71;
$colorRadicalRed: #fc466b;
$colorDodgerBlue: #3f5efb;
