$color-black: #111;
$color-white: #eee;
$color-black-quarter-opaque: transparentize($color-black, 0.2);

$font-size: 125%;
$font-family: Inter, system-ui, sans-serif;

$transition-length: 0.5s;
$transition-easing: ease-in-out;

$space-desktop: 125px;
$space-mobile: 10vw;

$max-width: 1280px;
