@use "variables";
@use "mixins";

body {
  color: variables.$color-anthracite;
  font-family: variables.$font-family;
  font-size: variables.$font-size-body;
  line-height: variables.$line-height-loose;
}

a {
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

@include mixins.dark-mode {
  body {
    background-color: variables.$color-anthracite;
    color: variables.$color-heather;
  }
}
