@use "variables";
@use "mixins";

body {
	font-family: variables.$font-family;
	font-size: variables.$font-size-base;
	line-height: variables.$line-height-loose;
	color: variables.$color-cloud;
	background-color: variables.$color-slate;
}

h1,
h2,
h3 {
	line-height: variables.$line-height-tight;
}

h1 {
	font-size: variables.$font-size-h1;
}

h2 {
	font-size: variables.$font-size-h2;
}

h3 {
	font-size: variables.$font-size-h3;
}
