@use "variables";

.hero {
  display: grid;
  gap: variables.$space-md;
  height: 100vh;
  place-items: center;
  place-content: center;
  line-height: variables.$line-height-heading;

  & > * {
    width: min(80%, variables.$content-max-width);
  }

  &-title {
    font-size: variables.$font-size-md;
  }

  &-text {
    color: transparent;
    font-weight: 700;
    font-size: variables.$font-size-xl;
    background-image:
      linear-gradient(
        to right,
        variables.$color-goldenrod,
        variables.$color-salmon,
        variables.$color-skyblue
      );
    background-clip: text;
    animation: hue-rotate 10s linear infinite alternate;
  }

  &-cta {
    margin-top: 0;
    font-size: variables.$font-size-xs;
  }
}

.project {
  display: grid;
  grid-template-columns: 1fr min(80%, variables.$content-max-width) 1fr;
  gap: variables.$space-md;

  & + & {
    margin-top: variables.$space-xl;
  }

  &-summary {
    grid-column: 2 / 3;
    color: variables.$color-stone;
    font-size: variables.$font-size-xs;
  }

  &-title {
    grid-column: 2 / 3;
    width: fit-content;
    font-weight: 700;
    font-size: variables.$font-size-md;
    line-height: variables.$line-height-heading;

    @media (width >= 992px) {
      .project:nth-child(odd) & {
        justify-self: end;
      }
    }
  }

  &-image {
    grid-column: 1 / -1;
    width: 100%;
    height: 80vh;
    object-fit: cover;
    opacity: 0;
    transition:
      opacity 1s ease-in-out,
      scale 1s ease-in-out;
    scale: 0.95;

    &-visible {
      scale: 1;
      opacity: 1;
    }

    @media (width >= 992px) {
      grid-column: 1 / 3;
      transform-origin: left;

      .project:nth-child(even) & {
        grid-column: 2 / 4;
        transform-origin: right;
      }
    }
  }

  &-role {
    grid-column: 2 / 3;
    font-size: variables.$font-size-lg;
  }
}

.human-question {
  position: fixed;
  top: 50%;
  left: 50%;
  padding: variables.$space-md;
  translate: -50% -50%;

  &::backdrop {
    backdrop-filter: blur(20px);
  }

  select {
    font-size: smaller;
  }
}

.animation-paused {
  animation-play-state: paused;
}

@keyframes hue-rotate {
  to {
    filter: hue-rotate(1turn);
  }
}
