*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	outline-offset: 10px;
}

html {
	color-scheme: dark light;
	hanging-punctuation: first last;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

a {
	color: inherit;
}

img {
	display: block;
	max-width: 100%;
}

p {
	text-wrap: pretty;
}

ul {
	list-style: none;
}

input,
button,
textarea,
select {
	font: inherit;
}
