// colors
$color-black: #111;
$color-grey-dark: #333;
$color-grey-light: #555;

// typo
$font-size-base: 125%;
$font-size-big: 4em;
$font-size-medium: 1.5em;
$font-size-small: 1.25em;
$font-weight-extra-bold: 800;
$line-height-base: 1.6;

// spacing
$space-gutter: 50px;
$space-padding: $space-gutter * 2;
