@use "sass:math";

/*
  font sizes via
  https://utopia.fyi/type/calculator/?c=375,18,1.2,992,24,1.25,0,0,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12
*/
$font-size-body: clamp(1rem, calc(0.7rem + 1.3vw), 1.5rem); // 16px => 24px
$font-size-h1: clamp(3rem, calc(2.39rem + 2.59vw), 4rem); // 48px => 62px
$font-size-h2: clamp(2rem, calc(1.39rem + 2.59vw), 3rem); // 32px => 48px
$font-size-h3: clamp(1.5rem, calc(1.2rem + 1.3vw), 2rem); // 24px => 32px

/* spaces */
$space-8: 8px;
$space-16: 16px;
$space-24: 24px;
$space-32: 32px;
$space-40: 40px;
$space-48: 48px;
$space-56: 56px;
$space-64: 64px;
$space-72: 72px;
$space-80: 80px;
$space-120: 120px;
$space-160: 160px;

/* content widths */
$content-max-width: 1280px;
$content-max-width-narrow: math.div($content-max-width, 2);

/* colors */
$color-anthracite: rgb(50 50 50);
$color-stone: rgb(100 100 100);
$color-heather: rgb(240 240 240);
$color-heather-75: rgba(240 240 240 / 75%);
$color-goldenrod: rgb(218 165 32);
$color-salmon: rgb(250 128 114);
$color-skyblue: rgb(135 206 235);

/* breakpoints */
$bp-xs: 375px;
$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;
$bp-xxl: 1440px;

/* misc */
$font-family: intervariable, system-ui;
$line-height-loose: 1.6;
$line-height-tight: 1.2;
